@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
*{
  font-family: 'Viga', sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFFFC;
  color: #011627;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ///////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////// NAVIGATION BAR //////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////// */

nav {
  display: flex;
  justify-content: space-between;
  background-size: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 5vw;
}
.navBarRed{
  background-color: #E71D36;
}
.navBarGreen{
  background-color:#2EC4B6
}
.navBarOrange{
  background-color: #FF9F1C;
}
#navleft-box{
  display: flex;
  margin-left: 40px;
}
#navright-box{
  display: flex;
  margin-right: 40px;
}

#fruit img{
  width: 60%;
  -webkit-filter: invert(100%); 
  filter: invert(100%);
}

#strawberry:hover{
  margin-bottom: 0px;
  cursor:pointer;
  -webkit-filter: invert(14%) sepia(77%) saturate(5869%) hue-rotate(347deg) brightness(97%) contrast(87%);
  filter: invert(14%) sepia(77%) saturate(5869%) hue-rotate(347deg) brightness(97%) contrast(87%);
}
#pear:hover{
  cursor:pointer;
  -webkit-filter: invert(61%) sepia(80%) saturate(372%) hue-rotate(125deg) brightness(91%) contrast(91%);
  filter: invert(61%) sepia(80%) saturate(372%) hue-rotate(125deg) brightness(91%) contrast(91%);
}
#orange:hover{
  cursor:pointer;
  -webkit-filter: invert(68%) sepia(96%) saturate(1801%) hue-rotate(344deg) brightness(101%) contrast(101%);
  filter: invert(68%) sepia(96%) saturate(1801%) hue-rotate(344deg) brightness(101%) contrast(101%);
}

.accordian{
  padding-top: 10px;
  width: 100px;
  height: 130%;
  overflow: hidden;
  z-index: 100;
  border-radius: 20px;
  line-height: 100px;
}

.accordian:hover{
  line-height: 50px;
  animation: expand;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes expand {
  
  100%  {
    display:block;
    background-color:black;
    height:235px ;
  }

}

#nav-logo{
  height: 250%;
}

#nav-logo:hover{
  height: 250%;
  transform: translateY(10px)
}

#nav-gamelogo{
  height: 100%;
  margin: 10px 15px 0 15px;
  -webkit-filter: invert(100%); 
  filter: invert(100%);
}

#nav-gamelogo:hover{
  height: 100%;
  -webkit-filter: invert(0%); 
  filter: invert(0%);
transform: translateY(8px);
}

#nav-aboutlogo{
  height: 100%;
  -webkit-filter: invert(100%); 
  filter: invert(100%);
  margin: 10px 0px 0px 10px
}

#nav-aboutlogo:hover{
  height: 100%;
  -webkit-filter: invert(0%); 
  filter: invert(0%);
transform: translateY(5px);
}

#nav-scorelogo{
  height: 100%;
  margin: 10px 15px 0 15px;
  -webkit-filter: invert(100%); 
  filter: invert(100%);
}

#nav-scorelogo:hover{
  height: 100%;
  -webkit-filter: invert(0%); 
  filter: invert(0%);
transform: translateY(5px);
}

#nav-username{
  margin: 30px;
}

#logout{
margin-top: 30px;
}

nav a{
  text-decoration: none;
  color: #FDFFFC;
  font-family: 'Orelega One', cursive;
  font-weight: 400;
  font-size: 25px;
}

nav a:hover{
  color:#FF9F1C;
}

#hot-guess-img{
  transform: translateY(-530px) translateX(350px);
  z-index: -1000;
}

.carousel{
  padding: 2em 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transform: translateY(-250px);
}

.carousel::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

.carousel::-webkit-scrollbar-thumb{
  background:#E71D36;
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-track{
  background-color: #E71D36;
}

.carousel > div{
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 57vw;
  height:400px;
  transform-origin: center-center;
  transform: scale(1);
  transition: transform .05s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.carousel img{
  height: 250px;
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
}

.img-wrapper{
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  grid-column: content;
  overscroll-behavior-x: contain;
}

.wrapper{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  margin-bottom: 10px;
}



.no-no{
margin-top: 30px;
}

.button button{
  margin-top: 20px;
  width: 75px;
  height: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
  border-color:#2EC4B6 ;
}

.button button:hover{
  background-color: #2EC4B6;
  color:#FDFFFC;
}

.button button:disabled:hover{
  border-color:#E71D36 ;
  background-color:#FDFFFC;
  color:lightgray;
}

.logo p{
  font-size: 70px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: black;
}

.register {
height: 300px;
width: 400px;
padding-top: 5px;
margin: auto;


background-color: #edefec;
border-radius: 16px;
}

.register h3{
  padding-top:10px;
  padding-bottom: 5px;
}

.register-wrapper h2{
  font-family: 'Source Sans Pro', sans-serif;
 
  font-size: 32px;
}


.register button {
  width: 75px;
  height: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
text-align: center;
}

.register button:enabled{
  border-color: #2EC4B6;
}

.register button:enabled:hover{
  background-color: #2EC4B6;
  color:#FDFFFC;
}

form .register-form{
  margin: 5px;
}

.input-wrapper{
  margin: 20px;
}

input {
  margin-left: 5px;
}

.signin-main img{
  height:125px;
  margin-top:10px;
  margin-bottom:10px;
}

.signin{
background-color: #edefec;
border-radius: 16px;
height: 200px;
width: 350px;
padding-top: 30px;
margin: auto;
}

.signin button:disabled{
  width: 75px;
  height: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
  border-color: #E71D36
}

.signin button:disabled:hover{
  width: 75px;
  height: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
  border-color: #E71D36;
  color: rgb(204, 203, 203);
}

.signin button:enabled{
  width: 75px;
  height: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
  border-color: #2EC4B6
}

.signin button:enabled:hover{
  background-color: #2EC4B6;
  color:#FDFFFC;
}

form .signin-form{
  margin: 5px;
}

.signin-main h3{
  margin-top: 25px;
}

 .register-wrapper img{
  height: 150px;
}

.register-button button{
  margin-top: 2px;
}

.update{
  height: 250px;
  width: 250px;
  padding-top: 5px;
  margin: auto;
  background-color: #edefec;
  border-radius: 16px;
  margin-top: 10px;
}

.dont-click{
  height: 150px;
  width: 200px;
  background-color: #E71D36;
  margin:auto;
  margin-top: 20px;
  border-radius: 16px;
  color:#FDFFFC;
}
.dont-click h3{
  padding-top: 15px;
}

.username{
  padding-bottom: 10px;
}

.about h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
}

.about-blurb{
  width:600px;
  margin:auto;
  margin-bottom: 15px;
}

.dev-wrapper{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.dev-card1{
  padding-top: 15px;
  height: 400px;
  width: 350px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: #E71D36;
  border-radius: 16px;
  color: #011627;
}

.dev-card2{
  padding-top: 15px;
  height: 400px;
  width: 350px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: #2EC4B6;
  border-radius: 16px;
  color: #011627;
}

.dev-card3{
  padding-top: 15px;
  height: 400px;
  width: 350px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color:#FF9F1C;
  border-radius: 16px;
  color: #011627;
}

.dev-card1 a{
  text-decoration: none;
  font-family: 'Source Sans Pro Bold 700', sans-serif;
  font-size: 18px;
  color:#FDFFFC;
}

.dev-card2 a{
  text-decoration: none;
  font-family: 'Source Sans Pro Bold 700', sans-serif;
  font-size: 18px;
  color:#FDFFFC;
}

.dev-card3 a{
  text-decoration: none;
  font-family: 'Source Sans Pro Bold 700', sans-serif;
  font-size: 18px;
  color:#FDFFFC;
}
.dev-card1 a:hover{
  color:#2EC4B6;
}

.dev-card2 a:hover{
  
  color:#FF9F1C;
}

.dev-card3 a:hover{
  color:#E71D36;
}

.dev-card1 p{
  padding-left: 10px;
  padding-right: 10px;
}

.dev-card2 p{
  padding-left: 10px;
  padding-right: 10px;
}

.dev-card3 p{
  padding-left: 10px;
  padding-right: 10px;
}

.dev-card1 img{
  height: 200px;
  width: 200px;
  border-radius: 16px;
  border: 2px solid #FDFFFC;
  margin-top: 5px;
}

.dev-card2 img{
  height: 200px;
  width: 200px;
  border-radius: 16px;
  border: 2px solid #FDFFFC;
  margin-top: 5px;
}

.dev-card3 img{
  height: 200px;
  width: 200px;
  border-radius: 16px;
  border: 2px solid #FDFFFC;
  margin-top: 5px;
}

.gameboard{
  height: 500px;
  width: 600px;
  border: solid 3px #E71D36;
  border-radius: 16px;
  margin:auto;
}

.question{
  margin:auto;
  margin-top: 10px;
}

.game-button{
  margin-top: 20px;
  width: 75px;
  height: 30px;
  background-color: #FDFFFC;
  border-radius: 8px;
  border-color:#2EC4B6 ;
}

.game-button:hover{
  background-color: #2EC4B6;
  color:#FDFFFC;
}

.gameplay-wrapper h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
}


.scores-wrapper{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}




.zip-leader{
  width: 300px;
  margin:auto;
  background-color:#E71D36;
  border-radius: 16px;
  color:#FDFFFC;
  margin-top: 20px;
}
.zip-leader h2{
  padding-top: 5px;
}

.zip-leader li{
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Orelega One', cursive;
  font-size: 20px;
}

.leader-scores{
  width: 300px;
  margin:auto;
  background-color: #FF9F1C;
  border-radius: 16px;
  color:#FDFFFC;
  margin-top:20px;
}

.leader-scores h2{
  padding-top: 5px;
}

.leader-scores li{
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Orelega One', cursive;
  font-size: 20px;
}

#hot-guess-box{
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  align-items: center;
}
#hot-guess-img{
  height: auto;
  width: 23%;
}
#about-img{
  height: 300px;
}
#main-logo-landing{
  height: 80%;
  z-index: -100;
}
.logo{
  z-index: -100;
}
#main-logo-subtext{
  font-family: 'VT323', monospace;
  font-weight: lighter;
  text-align: center;
  position: absolute;
  font-size: 38px;
  color:#2EC4B6;
  text-shadow: 2px 2px grey;
  transform:translateY(-210px) translateX(290px) rotate(-20deg);
  animation:subtext .7s infinite;
  
}
@keyframes subtext {
  0%{
    font-size:38px;
  }
    50%{
font-size: 39px;
    }
    
  
  100%{
    font-size: 38px;
    
  }
}
#quickplay-image{
  height: 200px;
  
}

#cry-cat{
  position: relative;
  right:500px;
  height:60px;
  bottom:-10px;
}

/* ///////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////// GAME SELECT PAGE ////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////// */

#game-page{
  display:flex;
  justify-content: center;
}

.game-select{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  height: 70vh;
  width: 85vw;
  margin-top: 70px;
}
.gamebox{
  height:75%;
  width: 30%;
  border: 4px solid black;
  margin: 30px;
  cursor: pointer;
}
.game-page-text{
  font-size: 55px;
  text-shadow: 3px 3px black;
  color:white;
}
#gamebox-one{
  background-color: #E71D36;
}

#gamebox-two{
  background-color: #2EC4B6;
}
#gamebox-three{
  background-color: #FF9F1C;
}
#local-img, #quick-img, #globe-img{
  height: 50%;
  -webkit-filter: invert(100%); 
  filter: invert(100%);
}

.spin{
  animation: rotate 1.5s linear infinite;
 }
 
#local-subtext, #quickplay-subtext, #global-subtext{
   font-size: 20px;
   opacity: 0;
   color: black;
  
 }
 .appear{
  animation: appear .5s linear forwards;
 }
 
.game-page-text-spin{
  animation: raise .5s linear forwards;
  cursor: pointer;
  color: black;
  text-shadow: 3px 3px white;
}
@keyframes rotate {
  0%{transform: rotateY(0deg);
    -webkit-filter: invert(0%); 
    filter: invert(0%);}
  100%{transform: rotateY(360deg);
    -webkit-filter: invert(0%); 
    filter: invert(0%);}
}
@keyframes raise {
  0%{
    font-size: 55px;
  }
  100%  {
    transform: translateY(8px);
    font-size: 45px;
  }

}
@keyframes appear {
  100%  {
  opacity: 1;
  }

}


/* //////////////////////// */
/* ////// USERPAGE //////// */
/* //////////////////////// */




/* ///////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////// LEADERBOARD CSS ///////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////// */

#scores-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  align-self: center;
  height: 70vh;
  width: 85vw;
  margin-top: 30px;
}
.leader-scores{
  height:650px;
  width: 30%;
  border: 4px solid black;
  margin: 30px;
  
}
.leader-scores:hover{
cursor: pointer;
}
#trophy{
  height: 50%;
  -webkit-filter: invert(100%); 
  filter: invert(100%);
}
#leaderboard-list{
  line-height: 100%;
}
li{
  line-height: 24px;
  border-top: #2EC4B6 2px solid;
  justify-self: center;
  align-items: center;
  margin-right: 40px;
}

ol {
  list-style-position: outside;
}

li::marker {
  color:#DDDFDC;
}


.points {
  font-weight: bold;
  font-size: larger;
  color:#E71D36
}
.username{
  color: #FDFFFC
}

.date {
  font-size:smaller;
  color: #CDCFCC;
}

/* ///////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////// GAMEPLAY CSS //////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////// */

#hms-title, #hmds-title{
  display:flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  font-size: 40px;
}
#star-container{
  display:flex;
  transform: translateY(5px);
  position:relative;
  
}
#dollar-container{
  display:flex;
  top: 20px;
  position:relative;

}
#star-img{
  width: 165px;
  cursor: pointer;
}
#dollar-img{
cursor: pointer;
  width: 165px;

}
#getready-img{
  margin-top: 100px;
  height:300px;
  justify-self: center;
}


.stars{
  cursor: pointer;
  height: 28px;
  width: 15px;
  margin:.6px;
  padding: .1px;
  display: flex;
  flex-direction: row;
  transform: translatey(-35px);

}
.dollars{
  cursor: pointer;
  height: 28px;
  width: 15px;
  margin:2.6px;
  padding: .1px;
  display: flex;
  flex-direction: row;
  transform: translatey(-50px);
}

#business-image{
  max-height: 400px;
  width: auto;
}
#flare{
  
  color:#E71D36;
  font-size: 100px;
  bottom: 250px;
  z-index: -100;
}
.flareAnimationStop{
  opacity: 0;
  animation: none;
  position: relative;
  
}

.flareAnimationGo{
  animation: flare 1.5s 1;
  font-weight: bolder;
  z-index: -100;
  font-size:44px;
  position: relative;

}

#dollar-img{
  width: 80px;
}

#review{
  font-size: 24px;
}

.star-button-box{
  
  margin: 15px;
  padding: 10px;
}
.next-arrow{
  height:50px;
}
.next-arrow:hover{
  cursor: pointer;
  transform: translateY(10px);
  -webkit-filter: invert(61%) sepia(80%) saturate(372%) hue-rotate(125deg) brightness(91%) contrast(91%);
  filter: invert(61%) sepia(80%) saturate(372%) hue-rotate(125deg) brightness(91%) contrast(91%);
  
}
#review-container{
  display: inline-block;
  
}
#review-full{
  font-size: 30px;
  text-shadow: 2px 2px #2EC4B6;
  opacity: 0;
  font-family: 'VT323', monospace;
  text-align: center;

  animation: appear 5s forwards;
}
#review-question{
  opacity: 0;
  font-size: 20px;
  animation: appearquestion 6s forwards;
}
#next-button-review{
  opacity: 0;

  animation: appearquestion 9s forwards;
}
.start-state-box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
#globe-logo{
  height: 300px;
  width: 300px;
  margin: 30px;
}
@keyframes appear {
  from { opacity: 0 }
  to { opacity: 1 }
}
@keyframes appearquestion {
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes flare {
  99%  {
    transform: translatey(-100px);
  }
  100%{
    opacity: 0;
  }
}


/* ///////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////// CAT GUESSER CSS ///////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////// */

.cat-guesser-logo img{
  height: 150px;
}

.coming-soon img{
  margin-top:20px;
  height:400px;
}

.coming-soon img:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 600px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}